<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="SecuredByMessageEndpointSelfHost">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="SecuredByMessageEndpointWSH">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <!--<binding name="SecuredByTransportEndpoint">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>-->
            </wsHttpBinding>
        </bindings>

      <behaviors>
        <endpointBehaviors>
          <behavior name="ClientCredentialsBehavior">
       
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="None" />
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
        <client>
            <endpoint address="http://localhost:4000/" behaviorConfiguration="ClientCredentialsBehavior"
                binding="wsHttpBinding" bindingConfiguration="SecuredByMessageEndpointSelfHost"
                contract="ServiceReferenceOnSelfHost.IContract" name="Endpoint_ForSelfHost">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
          <endpoint address="http://localhost:8080/" binding="wsHttpBinding" behaviorConfiguration="ClientCredentialsBehavior"
              bindingConfiguration="SecuredByMessageEndpointWSH" contract="ServiceReferenceOnWSH.IContract"
              name="Endpoint_ForWSH" >
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>